pipeline/matchday_extractor/match_extractor.py
pipeline/matchday_extractor/map_stats.py
pipeline/config/config.json
pipeline/matchday_extractor/getter.py
pipeline/matchday_extractor/root.json
pipeline/matchday_extractor/field_map.json
pipeline/matchdays_information.py
pipeline/matchday_extractor/matchdays_information.py
fechas_txt/
logs/
__pycache__/
*.pyc
